<div class="container">
  <div class="about" id="aboutsection">
    <div class="row">
      <div class="col-lg-6">
        <div class="image-wrapper">
          <img src="../../assets/img/external/img.gif" alt="funky-coder-img" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-text">
          <h1 class="aboutmeheading">&nbsp;About Me 🤘&nbsp;</h1>
          <p class="about-paragraph">
            I am a <b>Computer Science</b> graduade who got graduated at
            <b>FAST NUCES-KHI</b> , Pakistan in 2021 with Computer Science
            Degree. I am a skilled developer by profession who loves to solve
            challenges on a regular basis.
          </p>
          <p class="about-paragraph">
            Welcome to my profile! I'm an accomplished
            <b>MEAN and MERN Stack Developer</b> with <b>3</b> years of
            experience specializing in <b
              >Angular, TypeScript, RxJS, and React.</b
            >
            With a strong foundation in frontend and backend development, I
            possess the skills to create captivating and robust web
            applications. My expertise lies in leveraging Angular to build
            dynamic and interactive user interfaces. I have a deep understanding
            of Angular's core principles and utilize
            <b>TypeScript and RxJS </b> to write clean and maintainable code.
            This allows me to deliver seamless and responsive experiences for
            end-users. In the realm of MERN Stack development, I excel at
            harnessing the power of React to create intuitive and efficient user
            interfaces. I have a solid grasp of JavaScript and its associated
            libraries, enabling me to seamlessly integrate frontend components
            with MongoDB, Express.js, and Node.js on the backend. Throughout my
            career, I have collaborated closely with cross-functional teams,
            successfully delivering numerous projects on time and exceeding
            client expectations. My meticulous attention to detail and adherence
            to best practices ensure the scalability, performance, and
            maintainability of the applications I developed. If you’d like to
            discuss more about my background and accomplishments, please don’t
            hesitate to email me at:
            <a href="mailto: hamzakhan.dev1446@gmail.com"
              >hamzakhan.dev1446@gmail.com</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
