<div class="row d-flex justify-content-center align-items-center mx-3 my-4">
  <ng-container *ngFor="let component of components">
    <figure class="image-block">
      <h1>{{ component.name }}</h1>
      <img [src]="component.imagePath" alt="" class="image-block" />
      <figcaption>
        <strong><p> {{component.description}}</p></strong>
        <p>
       {{component.details}}
        </p>
        <strong><p>Tags</p></strong>
        <p>{{ component.tags }}</p>

        <button [routerLink]="component.id">View Code</button>
      </figcaption>
    </figure>
  </ng-container>
</div>
