::ng-deep .editor {
  width: 100% !important;
  height: 100%!important;
  min-height: 600px!important;
  max-height: 800px!important;
  width: 100% !important;
  .monaco-editor{
    height: 100%!important;
    width: 100%!important;
    .overflow-guard{
      height: inherit;
      width: inherit;
    }
  }
}
