::ng-deep .editor {
  width: 100% !important;
  height: 100% !important;
  min-height: 600px !important;
  max-height: 800px !important;
  width: 100% !important;
  .monaco-editor {
    height: 100% !important;
    width: 100% !important;
    .overflow-guard {
      height: inherit;
      width: inherit;
    }
  }
}

.example-tab-icon {
  margin-right: 8px;
}
.mat-mdc-tab-group {
  background: #494949;
}

::ng-deep .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label,
.mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
  color: white !important;
}

::ng-deep .mat-mdc-tab .mdc-tab__text-label,
.mat-mdc-tab-link .mdc-tab__text-label {
  color: #a79d9d !important;
}
